<!DOCTYPE html>
<html lang="en">

{% load static %}
{% load i18n static %}

<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{{ page_title }}</title>

    <link rel="stylesheet" href="{% static 'mainapp/css/main.css' %}">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>
<body>

    <div id="content-main">
        <form method="post">
            {% csrf_token %}
            <div>
                {% if form.errors %}
                    <p class="errornote">
                    {% if form.errors.items|length == 1 %}{% trans "Please correct the error below." %}{% else %}{% trans "Please correct the errors below." %}{% endif %}
                    </p>
                {% endif %}

                <p>{% trans "Please enter your old password, for security's sake, and then enter your new password twice so we can verify you typed it in correctly." %}</p>

                <fieldset class="module aligned wide">
                    <div class="form-row">
                        {{ form.old_password.errors }}
                        {{ form.old_password.label_tag }} {{ form.old_password }}
                    </div>

                    <div class="form-row">
                        {{ form.new_password1.errors }}
                        {{ form.new_password1.label_tag }} {{ form.new_password1 }}
                        {% if form.new_password1.help_text %}
                        <div class="help">{{ form.new_password1.help_text|safe }}</div>
                        {% endif %}
                    </div>

                    <div class="form-row">
                    {{ form.new_password2.errors }}
                        {{ form.new_password2.label_tag }} {{ form.new_password2 }}
                        {% if form.new_password2.help_text %}
                        <div class="help">{{ form.new_password2.help_text|safe }}</div>
                        {% endif %}
                    </div>
                </fieldset>

                <div class="submit-row">
                    <input type="submit" value="{% trans 'Change my password' %}" class="default">
                </div>

            </div>
        </form>
    </div>

<script src="{% static 'mainapp/js/main.js' %}"></script>
<script src="{% static 'mainapp/js/code_ajax.js' %}"></script>
</body>
</html>



