<!doctype html>
<html lang="en">

{% load static %}

<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{{ page_title }}</title>

    <link rel="stylesheet" href="{% static 'mainapp/css/main.css' %}">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script async src="{% static 'mainapp/js/init.js' %}"></script>
</head>
<body>
<div class="container">

    <header>
        <a class="header-title" href="{% url 'index' %}">Py Exec</a>
    </header>

    <div class="top">
        <form class="reset-form px-4"
              action="{% url 'authapp:password_reset_confirm' view.kwargs.uidb64 view.kwargs.token %}"
              method="post" enctype="multipart/form-data" novalidate>
            {% csrf_token %}
            <div class="modal-dialog modal-dialog-scrollable" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalScrollableTitle">
                            Change password{% if not validlink %} failed{% endif %}
                        </h5>
                    </div>
                    <div class="modal-body">

                        {% if validlink %}
                            <p class="modal-body-title">
                                Please enter your new password twice so we can verify you typed it in correctly.
                            </p>
                        {% else %}
                            <p class="modal-body-title">
                                The password reset link was invalid, possibly because it has already been used.
                                Please request a new password reset.
                            </p>
                        {% endif %}

                        <div class="reset-fields">
                            {% include 'authapp/_form.html' %}
                        </div>
                    </div>
                    <div class="modal-footer">
                        {% if validlink %}
                            <button type="submit" class="reset-btn btn btn-primary">Change</button>
                        {% else %}
                            <a href="{% url 'index' %}" class="btn btn-secondary">Close</a>
                        {% endif %}
                    </div>
                </div>
            </div>
        </form>

    </div>
    <footer class="site-footer">
        <a href="https://github.com/pywebexecutorgb">web executor</a> &copy;&nbsp;2019
    </footer>
</div>
<script src="http://code.jquery.com/jquery-3.4.1.min.js"
        integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo="
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>
<script src="{% static 'mainapp/js/main.js' %}"></script>
<script src="{% static 'mainapp/js/code_ajax.js' %}"></script>
<script src="{% static 'mainapp/js/auth_ajax.js' %}"></script>
</body>
</html>