<header>
    <a class="header-title" href="{% url 'mainapp:index' %}">Py Exec</a>

    <div class="header-menu">
        {% if user.is_authenticated %}
            <a class="menu-auth-link" href="{% url 'authapp:update' %}">update</a>
            <a class="menu-auth-link" href="{% url 'authapp:logout' %}">logout</a>
        {% else %}

            <div class="dropdown">
                <a class="dropdown-toggle sign-in-link" href="#" role="button" id="dropdownMenuLink"
                   data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Sign in
                </a>

                <div class="dropdown-menu dropdown-menu-right">
                    <form class="login-form px-4 py-3" action="{% url 'authapp:login' %}" method="post"
                          enctype="multipart/form-data">
                        {% csrf_token %}
                        <div class="login-fields"></div>
                        <button type="submit" class="login-btn btn btn-primary">Sign in</button>
                    </form>
                    <div class="dropdown-divider"></div>
                    <a href="#" class="dropdown-signup dropdown-item" data-toggle="modal" data-target="#exampleModalScrollable">
                      New around here? Sign up
                    </a>
                    <a href="#" class="dropdown-forgot dropdown-item" data-toggle="modal" data-target="#exampleModalScrollable">
                      Forgot password?
                    </a>
                </div>
            </div>

        {% endif %}
    </div>
</header>