{% load static %}

<header>
    <a class="header-title" href="{% url 'mainapp:index' %}">Py Exec</a>

    <div class="header-menu">
        <div class="dropdown">
            <a class="dropdown-toggle dropdown-link" href="#" role="button" id="dropdownMenuLink"
               data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">

                {% if user.is_authenticated %}Profile{% else %}Sign in{% endif %}

            </a>

            <div class="dropdown-menu dropdown-menu-right">

                {% if user.is_authenticated %}

                    <a href="{% url 'authapp:update' user.pk %}" class="dropdown-user-profile">
                        <img class="user-photo" src="/media/{{ user.userphoto|default:'userphotos/default.svg' }}" alt="{{ user.username }}">
                        <div class="user-bio">
                            <h5 class="username">{{ user.username|truncatechars_html:15 }}</h5>
                            <h6 class="email">{{ user.email|truncatechars_html:15 }}</h6>
                        </div>
                    </a>
                    <div class="dropdown-divider"></div>
                    <a href="#" class="dropdown-item dropdown-change-password" data-toggle="modal" data-target="#exampleModalScrollable">
                      Change password
                    </a>
                    <a href="{% url 'authapp:logout' %}" class="dropdown-logout dropdown-item">Log out</a>

                {% else %}

                    <form class="login-form px-4 py-3" action="{% url 'authapp:login' %}" method="post"
                      enctype="multipart/form-data" novalidate>
                    {% csrf_token %}
                        <div class="login-fields"></div>
                        <button type="submit" class="login-btn btn btn-primary">Sign in</button>
                    </form>
                    <div class="dropdown-divider"></div>
                    <a href="#" class="dropdown-signup dropdown-item" data-toggle="modal" data-target="#exampleModalScrollable">
                      New around here? Sign up
                    </a>
                    <a href="#" class="dropdown-forgot dropdown-item" data-toggle="modal" data-target="#exampleModalScrollable">
                      Forgot password?
                    </a>

                {% endif %}

            </div>
        </div>
    </div>
</header>