@media screen and (max-width: 768px) {
    .content {
        display: flex;
        flex-direction: column;
        height: unset !important;
        min-height: 800px;
    }

    .input-block,
    .result-block {
        all: unset !important;
        margin: 0 5px 0 5px;
    }

    .result-block {
        height: 300px !important;
    }

    .buttons {
        display: flex;
        flex-wrap: wrap;
    }

    .btn {
        width: 48% !important;
        margin-right: unset !important;
    }

    .CodeMirror {
        height: 250px !important;
        border-radius: 3px;
        border: 1px solid lightgray;
        padding: 5px !important;
    }
}

@media screen and (min-width: 768px) {
    .CodeMirror {
        min-height: 100%;
        border-radius: 3px;
        border: 1px solid lightgray;
        padding: 5px !important;
    }
}

* {
    margin: 0;
    padding: 0;
}

html, body {
    min-width: 300px;
    height: 100%;
}

header, footer {
    margin: 5px 0 5px;
    padding: 0 5px;
    height: 45px;
    /* background-color: lightgray; */
    background-color: #424242;
    color: whitesmoke;
    border-radius: 5px;

    align-items: center;

    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

header {
    display: flex !important;
    flex-direction: row;
    justify-content: space-between;

    padding-left: 15px;
}

footer {
    padding-right: 15px;
    text-align: right;

    line-height: 45px;
    text-transform: uppercase;
}

.header-title:any-link {
    display: block;
    color: unset;
    text-transform: uppercase;
}

.site-footer:any-link,
.site-footer a:any-link {
    color: unset;
}

.header-menu {
    position: relative;
}

.user-profile {
    position: absolute;
    z-index: 1;
    top: 42px;
    right: 0px;

    border-radius: 5px;
    border: 1px solid whitesmoke;
    background-color: #424242;

    padding: 5px;
    width: 250px;

    text-align: center;
}

.user-picture {
    border-radius: 3px;
    background-color: white;
    padding: 1px;
    width: 35px;
    height: 35px;
}

.user-profile li {
    list-style: none;
}

.user-profile ul {
    margin: 0px !important;
}

.user-buttons {
    width: 100% !important;
}

.icon-input {
    width: 40px !important;
}

.error-input {
    border: 2px solid orangered !important;
}

.error-login,
.error-sign-up {
    color: orangered;
    font-weight: 200;
    text-align: center;
}

.block-header {
    text-align: center;
}

.create-user-form {
    margin: 20px auto;
    display: flex;
    flex-direction: column;

    width: 50%;
    min-width: 250px;
}

.create-user-buttons {
    display: flex;
    width: 100% !important;
    justify-content: space-around;
}

.create-user-button {
    margin: 10px 0;
    width: 30% !important;
    min-width: 100px;
}

.container {
    margin: 0 auto;
    max-width: 1000px;
    display: flex;
    flex-direction: column;
    min-height: 100%;
}

.top {
    flex-grow: 1;
}

.content {
    display: flex;
    height: 100%;
}

.input-block,
.result-block {
    width: 50%;
    height: 600px;
}

.input-block {
    /* spinner use it */
    position: relative;
    margin-right: 5px;
}

.result-block {
    margin-left: 5px;
}

.input-form,
.result {
    /* profile button use is */
    position: relative;
    height: 100%;
    display: flex;
    flex-direction: column;
}

#id_code_text,
#output-result {
    flex-grow: 1;
    font-size: 0.9rem;
    font-family: monospace;
}

#id_dependencies {
    font-size: 0.9rem;
    font-family: monospace;
}

#output-result {
    border-radius: 3px;
    border: 1px solid lightgray;
    padding: 5px;
    width: 100%;
    display: block;
}

.buttons {
    display: flex;
    justify-content: space-between;
}

.btn {
    width: 130px;
    margin-top: 10px;
    margin-right: 5px;
}

.btn:last-child {
    margin-right: 0;
}

.error-message {
    color: darkred;
}

.blinking {
    animation: 1s infinite linear blink;
}

.error {
    position: fixed;
    z-index: 1;
    top: 7%;

    color: whitesmoke;
    text-align: center;
    min-width: 250px;
    max-width: 400px;

    border-radius: 3px;
    padding: 0 5px;
    /* using 15px padding upstairs */
    margin: 0 25px 0 10px;
}

.view-button {
    position: absolute;
    z-index: 1;
    bottom: 10px;
    right: 10px;

    opacity: 0.95;
}

.view-button:hover {
    opacity: 1;
}

@keyframes blink {
    0% {
        color: black;
    }
    50% {
        color: transparent;
    }

}

#loader {
    position: absolute;
    top: 25%;
    left: 40%;
    width: 100px;
    height: 100px;

    border: 10px solid lightgray;
    border-top-color: darkgrey;
    border-radius: 50%;

    animation: 2s infinite linear spin;
    z-index: 1;
}

@keyframes spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

.dropdown-link {
    display: block;
    height: 45px;
    line-height: 45px;
}

.dropdown-link:hover {
    text-decoration: none;
}

.invalid {
    color: #dc3545;
    font-size: 80%;
}

.dropdown-user-profile {
    display: flex;
    padding: 4px 24px;
    text-decoration: none;
    color: #2C2C2C;
    width: 100%;
    background-color: #f8f9fa;
}

.dropdown-user-profile:hover {
    background-color: #e8e9ea;
    text-decoration: none;
    color: #2C2C2C;
}

.user-photo {
    min-width: 70px;
    min-height: 70px;
    width: 70px;
    height: 70px;
    border-radius: 50%;
    object-fit: cover;
    margin-right: 10px;
}

.user-bio {
    display: flex;
    flex-direction: column;
    justify-content: center;
    white-space: nowrap;
}

.email {
    word-break: break-word;
}
