@media screen and (max-width: 770px) {
    .content {
        display: flex;
        flex-direction: column;
        height: 100% !important;
        min-height: 700px;
    }

    .input-block,
    .result-block {
        all: unset !important;
        margin: 0 5px 0 5px;
        /*height: 500px !important;*/
    }

    .buttons {
        display: flex;
        flex-wrap: wrap;
    }

    .btn {
        width: 48% !important;
        margin-right: unset !important;
    }

    .result-block {
        min-height: 300px;
        height: 100% !important;
    }
}

* {
    margin: 0;
    padding: 0;
}

html, body {
    height: 100%;
}

header, footer {
    margin: 5px 0 5px;
    padding: 0 15px;
    height: 45px;
    background-color: lightgray;
    border-radius: 5px;

    line-height: 45px;
    text-align: center;
    text-transform: uppercase;

    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

header {
    display: flex !important;
    flex-direction: row;
    justify-content: space-between;
    padding: 0 15px;
}

footer {
    text-align: right;
}

.container {
    margin: 0 auto;
    max-width: 1000px;
    display: flex;
    flex-direction: column;
    min-height: 100%;
}

.top {
    flex-grow: 1;
}

.content {
    display: flex;
    height: 100%;
}

.input-block,
.result-block {
    position: relative;
    width: 50%;
    margin: 0 5px 0 5px;
    height: 600px;
}

.input-form,
.result {
    height: 100%;
    display: flex;
    flex-direction: column;
}

#id_code_text,
#output-result {
    flex-grow: 1;
}

#output-result {
    border-radius: 3px;
    border: 1px solid lightgray;
    padding: 5px;
    width: 100%;
    display: block;
}

.buttons {
    display: flex;
    /* justify-content: space-around; */
    justify-content: space-between;
}

.btn {
    width: 130px;
    margin-top: 10px;
    margin-right: 5px;
}

.btn:last-child {
    margin-right: 0;
}

.error-message {
    color: darkred;
}

.blinking {
    animation: 1s infinite linear blink;
}

@keyframes blink {
    0% {
        color: black;
    }
    50% {
        color: transparent;
    }

}

#loader {
    position: absolute;
    top: 25%;
    left: 40%;
    width: 100px;
    height: 100px;

    border: 10px solid lightgray;
    border-top-color: darkgrey;
    border-radius: 50%;

    animation: 2s infinite linear spin;
    z-index: 1;
}

@keyframes spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}
