{% load static %}

<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Python webExecutor</title>

    <link rel="stylesheet" href="{% static 'mainapp/css/main.css' %}">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <!-- development vue version -->
    <!-- <script defer src="https://cdn.jsdelivr.net/npm/vue/dist/vue.min.js"></script> -->

    <!-- production vue version -->
    <script defer src="https://cdn.jsdelivr.net/npm/vue"></script>
    <script defer src="https://cdn.jsdelivr.net/npm/vue-router/dist/vue-router.min.js"></script>

    <script defer src="{% static 'mainapp/js/components/errorCodeBlock.js' %}"></script>
    <script defer src="{% static 'mainapp/js/components/inputCodeBlock.js' %}"></script>
    <script defer src="{% static 'mainapp/js/components/outputCodeBlock.js' %}"></script>
    <script defer src="{% static 'mainapp/js/components/codeBlock.js' %}"></script>

    <script defer src="{% static 'mainapp/js/mainVue.js' %}"></script>
</head>
<body>
<div id="app" class="container">
    <header>
        <router-link class="header-title" to="{% url 'index' %}">Py Exec</router-link>

        <div class="header-menu">
            {% if user.is_authenticated %}
                <a class="menu-auth-link" href="{% url 'authapp:update' %}">update</a>
                <a class="menu-auth-link" href="{% url 'authapp:logout' %}">logout</a>
            {% else %}
                <a class="menu-auth-link" href="{% url 'authapp:register' %}">register</a>
                <a class="menu-auth-link" href="{% url 'authapp:login' %}">login</a>
            {% endif %}
        </div>
    </header>

    <div class="top">
        <router-view></router-view>
    </div>
    <footer class="site-footer">
        <a href="https://github.com/pywebexecutorgb">web executor</a> &copy;&nbsp;2019
    </footer>
</div>
</body>
</html>